<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a  href="#"
        class="navbar-brand">
      <img
        class="d-inline-block align-top"
        ngSrc="../../assets/images/heart-food.jpg"
        width="30"
        height="30"
        alt=""/>
      Recipe Book
    </a>

    <div
      class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a href="#" (click)="onSelect('recipe')" class="nav-link active">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="#" (click)="onSelect('shopping-list')" class="nav-link">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ms-auto">
        <!-- column has a dropdown -->
        <li class="nav-item dropdown">
          <a  href="#"
              class="nav-link dropdown-toggle"
              role="button"
              appDropdown>
            Manage
          </a>
          <ul class="dropdown-menu">
            <li><a  href="#" class="dropdown-item">Save Data</a>
            </li>
            <li><a  href="#" class="dropdown-item">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
